# Primii pași în Google Colab

Acesta este un notebook de test pentru începători. Vei învăța cum să scrii și să rulezi cod în Python.

## Exemplu 1: Primul cod

In [ ]:
print("Salut! Acesta este primul meu cod în Google Colab.")

## Exemplu 2: Operații simple

In [ ]:
a = 10
b = 5
print("Suma:", a + b)
print("Diferența:", a - b)
print("Produsul:", a * b)
print("Împărțirea:", a / b)

## Exemplu 3: Buclă și listă

In [ ]:
numere = [1, 2, 3, 4, 5]
for n in numere:
    print(n * 2)

## Exemplu 4: Grafic simplu

In [ ]:
import matplotlib.pyplot as plt

x = [1, 2, 3, 4, 5]
y = [n * 2 for n in x]

plt.plot(x, y)
plt.title("Grafic simplu")
plt.xlabel("x")
plt.ylabel("2 * x")
plt.grid(True)
plt.show()